.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: yellow;
    color: white;
    text-align: center;
}

.return-question{
    background-color:white; border:2px solid black;border-radius: 25px;box-shadow: 10px 10px 5px grey;  margin-bottom: 20px;
}

.titolo{
    
    font-family:arial; 
    font-variant:small-caps;
    color:black;
}