<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>Domanda 1/5</title> 
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0-alpha.2/jquery.mobile-1.4.0-alpha.2.min.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.0-alpha.2/jquery.mobile-1.4.0-alpha.2.min.js"></script>  
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script src="{%static 'jquery.ui.touch-punch.min.js' %}"></script> 
</head>
<body>
<div id="question" width="95vw" style="background-color:white; border:2px solid black;border-radius: 25px;box-shadow: 10px 10px 5px grey;  margin-bottom: 20px;">
<p style="font-family:arial; font-size:2vw; font-variant:small-caps;color:black;text-align:center" >Attendi che la sessione sia chiusa</p>
<a href="/endpage?session={{sessione}}&user={{utente}}"> Ritorna </a>
</div>
</body>
</html>